@import '../../../styles/Variables.scss';

#opinionCardContainer {
  color: $secondaryColor;
  border-radius: 4px;
  background: linear-gradient(#452e63, $secondaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 345px;
  padding: 4px;

  .opinionCardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: $lighterGreen;
    padding: 16px;

    .profilePicAndTitle {
      display: flex;
      align-items: center;

      span {
        margin-left: 16px;
        text-transform: uppercase;
      }
    }

    .description {
      display: flex;
      justify-content: start;
      align-items: start;
      min-height: 30%;
    }
  }
}
