
.container {
    color: $secondaryColor;
    .title{
        color: #FFF;
        text-align: center;
        font-family: Karma;
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .title-content{
        display: flex;
        align-items: center;
    }
    
}

.hashtag{
    color:$tertiaryColor;
    display: flex;
    justify-content: center;
}
.highlighted{
    color:$tertiaryColor;
}
.container-text{
    display: flex;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logoImage{
    height: 5em;
}
.logoImageDown{
    height: 5em;
}