$primaryColor: #452e63;
$secondaryColor: #f6f6e9;
$tertiaryColor: #22c79a;

$lighterGreen: #51ac9d;
// $primaryColor : #452E63;
// $secondaryColor : #F6F6E9;
$tertiaryColor: #22c79a;

$font-family-primary: 'Karma', sans-serif;
$font-family-secondary: 'Karma', sans-serif;

$font-size-xxsmall: 10px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
