$primaryColor : #452E63;
$secondaryColor : #F6F6E9;
$tertiaryColor : #22C79A;


$font-family-primary: 'Karma', sans-serif;
$font-family-secondary: 'Karma', sans-serif;

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

